<div class="ui padded grid">
<!-- this needs to be inlined so it does not conflict with the semantic "terminal" names -->
    <div class="ui top attached tabular menu">
        <a ng-repeat="container in vm.containers" ng-class="{active: $index == 0}" class="item" data-tab="tab-{{$index}}" id="tab-{{$index}}" ng-click="vm.activeTab($index)" ><i class="cube icon"></i>{{container | limitTo:12}}</a>
    </div>
    <div ng-repeat="container in vm.containers" ng-class="{active: $index == 0}" class="ui bottom attached tab segment" data-tab="tab-{{$index}}" id="content-{{$index}}" style="font-size: 12px;">
        <div class="row">
            <div class="column">
                <div class="ui segment">
                    <div id="container-terminal-{{$index}}"></div>
                </div>
            </div>
        </div>
    </div>

</div>
